<link href="https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap" rel="stylesheet">
<ion-content>
  <div class="puzzle-container">
    <h1 class="puzzle-title">ROMPECABEZAS</h1>
    <div class="tablero">
      <div 
        *ngFor="let pieza of piezas; let i = index"
        class="pieza"
        [class.vacia]="pieza === null"
        (click)="mover(i)">
        {{ pieza !== null ? pieza : '' }}
      </div>
    </div>

    <div class="game-stats">
      <p class="tiempo-restante">Tiempo: {{ tiempoFormateado }}</p>
      <div class="stat">
        <span>Récord:</span>
        <span class="value">{{ mejorTiempo }}</span>
      </div>
    </div>
    <div class="puzzle-messaje">{{ mensaje }}</div>

    <div class="game-buttons">
      <ion-button fill="outline" (click)="rendirse()">Rendirse</ion-button>
      <ion-button fill="outline" (click)="confirmarSalida()">SALIR</ion-button>
    </div>
  </div>
</ion-content>
