<ion-content class="ion-padding">
  <div class="title">ENCUENTRA EL</div>
  <div class="subtitle">TESORO</div>

  <div class="img-container ion-text-center">
    <img 
      src="https://fortnite-api.com/images/cosmetics/br/spray_springbreak/decal.png" 
      [class.loaded]="imgLoaded"
    class="img-pirata"
    (load)="onimgpirata()"
    alt="Imagen de pirata" />
  </div>

  <div class="button-container">
    <ion-button expand="block" fill="clear" class="button-start" (click)="onStart()">Comenzar</ion-button>
    <ion-button expand="block" fill="clear" class="button-opcion" (click)="onOpciones()">Opciones</ion-button>
    <ion-button expand="block" fill="clear" class="button-salir" (click)="onLogout()">Salir</ion-button>
  </div>
</ion-content>
