<link href="https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap" rel="stylesheet">

<ion-content class="login-content">
  <div class="main-container">
    <div class="auth-container">
      <div class="auth-card">
        <h2>INICIAR SESIÓN</h2>
        <form (ngSubmit)="onLogin()" #loginForm="ngForm">
          <ion-label class="input-label">NOMBRE</ion-label>
          <ion-item class="input-item">
            <ion-input 
              type="text" 
              [(ngModel)]="username" 
              name="username"
              placeholder="Nombre de usuario"
              required>
            </ion-input>
          </ion-item>

          <ion-label class="input-label">CONTRASEÑA</ion-label>
          <ion-item class="input-item">
            <ion-input 
              type="password" 
              [(ngModel)]="password" 
              name="password"
              placeholder="Contraseña"
              required>
            </ion-input>
          </ion-item>

          <ion-button 
            expand="block" 
            shape="round" 
            class="btn-custom" 
            type="submit">
            INICIAR SESIÓN
          </ion-button>
          
          <ion-button 
            expand="block" 
            fill="outline" 
            shape="round" 
            class="btn-custom mt-3" 
            (click)="onRegister()"
            onclick="sonido1.play()">
            REGISTRARSE
          </ion-button>
        </form>
      </div>
      <div class="img-container">
        <img src="https://fortnite-api.com/images/cosmetics/br/spray_springbreak/decal.png" 
        [class.loaded]="imgLoaded"
    class="img-pirata"
    (load)="onimgpirata()"
    alt="Imagen de pirata" />
      </div>
    </div>
  </div>
  <audio id="sonido1">
    <source src="../../../assets/Sounds/swords-collide-230574.mp3" type="audio/mpeg" />
  </audio>
</ion-content>