.title {
  font-size: 35px;
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
  color: #5c3a1e;
}

.subtitle {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  color: #5c3a1e;
}

.img-pirata {
  width: 300px;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

.button-container {
  padding: 20px;
}

.custom-button {
  color: #5c3a1e;
  font-size: 20px;
}
.custom-loading {
  --background: rgba(255, 255, 255, 0.9);
  --spinner-color: #5c3a1e;
  color: #5c3a1e;
}

